
* {
box-sizing: border-box;
}

html,
body #app canvas  {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../../public/OFAG.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;


}

.joystick {
    position: fixed;
    top: 90%;
    left: 35%;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20vw;
    font-family: sans-serif;
}

