
* {
box-sizing: border-box;
}

html,
body #app canvas  {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);

}

.joystick {
    position: fixed;
    top: 90%;
    left: 35%;
}

